.DS_Store
node_modules
/dist
package.json
package-lock.json
yarn.lock
/public/config.json
/public/config.theme.scss

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
lokapi/
package-lock.json
package.json

# Capacitor splashes and icons
resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
