$sa-top: unquote(
  "var(--cap-safe-area-inset-top,    var(--safe-area-inset-top,    env(safe-area-inset-top, 0px)))"
);
$sa-right: unquote(
  "var(--cap-safe-area-inset-right,  var(--safe-area-inset-right,  env(safe-area-inset-right, 0px)))"
);
$sa-bottom: unquote(
  "var(--cap-safe-area-inset-bottom, var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px)))"
);
$sa-left: unquote(
  "var(--cap-safe-area-inset-left,   var(--safe-area-inset-left,   env(safe-area-inset-left, 0px)))"
);

:root {
  --cap-safe-area-inset-top: env(safe-area-inset-top, 0px);
  --cap-safe-area-inset-right: env(safe-area-inset-right, 0px);
  --cap-safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --cap-safe-area-inset-left: env(safe-area-inset-left, 0px);
}
