// Default Monujo theme variables
//
// Body Background color
$color-1: var(--color-1, #e4f2f1) !default;
//
// Buttons primary color,
// And in transactions list: "voir tout" button color
$color-2: var(--color-2, #009688) !default;
//
// Top menu customization
//
$top-menu-background-color: var(--top-menu-background-color, #fefefe) !default;
$top-menu-link-color: var(--top-menu-link-color, #4a4a4a) !default;
$top-menu-link-background-color: var(
  --top-menu-link-background-color,
  white
) !default;
$top-menu-link-background-color-bg: var(
  --top-menu-link-background-color-bg,
  white
) !default;
$top-menu-link-hover-color: var(--top-menu-link-hover-color, #777777) !default;
$top-menu-link-hover-color-bg: var(
  --top-menu-link-hover-color-bg,
  #848484
) !default;
$top-menu-link-hover-background-color: var(
  --top-menu-link-hover-background-color,
  whitesmoke
) !default;
$top-menu-link-hover-background-color-bg: var(
  --top-menu-link-hover-background-color-bg,
  white
) !default;
$top-menu-dropdown-divider-color: var(
  --top-menu-dropdown-divider-color,
  whitesmoke
) !default;
//
// Bottom menu buttons:
//
// "Payer" button
$btn-payer-text-color: var(--btn-payer-text-color, #ffffff) !default;
$btn-payer-border-color: var(--btn-payer-border-color, $color-2) !default;
$btn-payer-background-color: var(
  --btn-payer-background-color,
  $color-2
) !default;
// "Recevoir" button
$btn-recevoir-text-color: var(--btn-recevoir-text-color, #ffffff) !default;
$btn-recevoir-border-color: var(--btn-recevoir-border-color, $color-2) !default;
$btn-recevoir-background-color: var(
  --btn-recevoir-background-color,
  $color-2
) !default;
// "Recharger" button
$btn-recharger-text-color: var(--btn-recharger-text-color, $color-2) !default;
$btn-recharger-border-color: var(
  --btn-recharger-border-color,
  $color-2
) !default;
$btn-recharger-background-color: var(
  --btn-recharger-background-color,
  #ffffff
) !default;
// "Login" button
$btn-login-text-color: var(--btn-login-text-color, #ffffff) !default;
$btn-login-border-color: var(--btn-login-border-color, $color-2) !default;
$btn-login-background-color: var(
  --btn-login-background-color,
  $color-2
) !default;
//
//
// Inner card border color (like in the accounts list)
//
$inner-card-background-color: var(
  --inner-card-background-color,
  #f0faf9
) !default;
$inner-card-border-color: var(--inner-card-border-color, #f0faf9) !default;
$inner-card-text-color: var(--inner-card-text-color, #4a4a4a) !default;
$inner-card-text-color-backend: var(
  --inner-card-text-color-backend,
  #242424
) !default;
$inner-card-label-background-color: var(
  --inner-card-label-background-color,
  transparent
) !default;
$inner-card-label-text-color: var(
  --inner-card-label-text-color,
  #4a4a4a
) !default;
$inner-card-alt-text-color: var(
  --inner-card-alt-text-color,
  #009688
) !default; // the backend name color
//
//
// These are the bulma variables that we customize
//
$body-size: var(--body-size, 14px) !default;
// Tabs
$tabs-border-bottom-color: var(--tabs-border-bottom-color, white);
$tabs-border-bottom-width: var(--tabs-border-bottom-width, 4px);
$tabs-link-hover-border-bottom-color: var(
  --tabs-link-hover-border-bottom-color,
  $color-2
);
$tabs-link-active-color: var(--tabs-link-active-color, rgba(0, 0, 0, 0.8));
$tabs-link-active-border-bottom-color: var(
  --tabs-link-active-border-bottom-color,
  $color-2
);
$tabs-link-color: var(--tabs-link-color, rgba(0, 0, 0, 0.6));
$navbar-fixed-z: var(--navbar-fixed-z, 50);

// Calendars vars:
$primary-color: var(--primary-color, #41b0a6);
$primary-color-lighter: var(--primary-color-lighter, #d9efed);
$default-color: var(--default-color, $color-2);

// modal buttons:
$modal-btn-background-color: var(
  --modal-btn-background-color,
  $color-2
) !default;
$modal-btn-text-color: var(--modal-btn-text-color, #ffffff) !default;
$modal-btn-border-color: var(--modal-btn-border-color, $color-2) !default;
