// Default Monujo theme variables
// 
// Body Background color
$color-1: #E4F2F1 !default;
//
// Buttons primary color,
// And in transactions list: "voir tout" button color
$color-2: #009688 !default;
//
// Top menu customization
//
$top-menu-background-color: #FEFEFE !default;
$top-menu-link-color: #4A4A4A !default;
$top-menu-link-background-color: whitesmoke !default;
$top-menu-link-hover-color: #777777 !default;
$top-menu-link-hover-background-color: whitesmoke !default;
$top-menu-dropdown-divider-color: whitesmoke !default;
//
// Bottom menu buttons:
//
// "Payer" button
$btn-payer-text-color: #FFFFFF !default;
$btn-payer-border-color: $color-2 !default;
$btn-payer-background-color: $color-2 !default;
// "Recevoir" button
$btn-recevoir-text-color: #FFFFFF !default;
$btn-recevoir-border-color: $color-2 !default;
$btn-recevoir-background-color: $color-2 !default;
// "Recharger" button
$btn-recharger-text-color: $color-2 !default;
$btn-recharger-border-color: $color-2 !default;
$btn-recharger-background-color: #FFFFFF !default;
// "Login" button
$btn-login-text-color: #FFFFFF !default;
$btn-login-border-color: $color-2 !default;
$btn-login-background-color: $color-2 !default;
//
//
// Inner card border color (like in the accounts list)
//
$inner-card-background-color: #F0FAF9 !default;
$inner-card-border-color: #F0FAF9 !default;
$inner-card-text-color: #4A4A4A !default;
$inner-card-label-background-color: transparent !default;
$inner-card-label-text-color: #4A4A4A !default;
$inner-card-alt-text-color: #009688 !default; // the backend name color
//
//
// These are the bulma variables that we customize
// 
$body-size: 14px !default;
// Tabs
$tabs-border-bottom-color: white;
$tabs-border-bottom-width: 4px;
$tabs-link-hover-border-bottom-color: $color-2;
$tabs-link-active-color: rgba(0, 0, 0, 0.8);
$tabs-link-active-border-bottom-color: $color-2;
$tabs-link-color: rgba(0, 0, 0, 0.6);
$navbar-fixed-z: 50;
