// Bulma initial viariables and utils
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// Bulma override variables
@import "custom-variables";
// Bulma Import */
@import "~bulma/bulma";
// Roboto
@import "./fonts/roboto/style.css";

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Roboto;
}

.is-clipped {
  height: 100%;
  overflow-y: hidden;
}
#app {
  min-height: calc(100vh - env(safe-area-inset-top, 0));
  background-color: $color-1;
  padding-top: 40px;
  padding-bottom: 80px;

  @media screen and (min-width: 1024px) {
    padding-bottom: 110px;
  }
}

.x-scroll-disabled::-webkit-scrollbar {
  display: none !important;
}

.x-scroll-disabled {
  scrollbar-width: none !important;
}

.main {
  & > .container {
    @media screen and (max-width: 1023px) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.button {
  &.is-login,
  &.is-login:hover {
    color: $btn-login-text-color !important;
    border-color: $btn-login-border-color !important;
    background: $btn-login-background-color !important;
  }

  &.is-pay,
  &.is-pay:hover {
    color: $btn-pay-text-color !important;
    border-color: $btn-pay-border-color !important;
    background: $btn-pay-background-color !important;
  }

  &.is-request,
  &.is-request:hover {
    color: $btn-request-text-color !important;
    border-color: $btn-request-border-color !important;
    background: $btn-request-background-color !important;
  }

  &.is-top-up,
  &.is-top-up:hover {
    color: $btn-top-up-text-color !important;
    border-color: $btn-top-up-border-color !important;
    background: $btn-top-up-background-color !important;
  }
  &.custom-button-modal,
  &.custom-button-modal:hover {
    color: $modal-btn-text-color;
    background: $modal-btn-background-color;
    font-style: normal;
    font-weight: normal;
    line-height: 2em;
    border-radius: 2em;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      padding-right: 2.2em;
      padding-left: 2.2em;
    }
  }
}

// card-anchor
.custom-card {
  border-radius: 16px !important;
  min-height: 100px;
}

.custom-card-padding {
  padding: 1.4em 0.8em;

  @media screen and (min-width: 768px) {
    padding: 1.8em;
  }
}

.custom-card-title {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 16px;
  padding-bottom: 1em;
}

.custom-button {
  color: $color-2;
  border-color: $color-2;
  font-style: normal;
  font-weight: normal;
  // font-size: 20px !important;
  line-height: 23px !important;
  border-radius: 47px !important;
  background-color: inherit;

  @media screen and (min-width: 1024px) {
    padding-right: 2.2em;
    padding-left: 2.2em;
  }
}

// tabs-anchor-fin

// pictogram-anchor

// pictogram-anchor-fin

// card-opération-anchor

.is-title-shrink {
  overflow: hidden;
  flex-shrink: 1 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.transactions-loader-container {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto;
  z-index: 1;
}
.transactions-loader {
  width: auto;
  height: auto;
  z-index: 1;
}

.custom-modal-card-foot {
  padding: 5px !important;
  min-height: 3.6em;
}

// card-opération-anchor-fin

.custom-button {
  text-transform: uppercase !important;
  text-transform: uppercase !important;
  background-color: inherit;
  color: $color-2;
  border-color: $color-2;
  &.custom-inverted {
    background: $color-2;
    color: #ffffff;
  }
}
.modal-card-title {
  line-height: 1.1;
  color: #ffffff;
}

.modal-card {
  position: fixed;
  top: 60px;
  max-height: calc(90vh - 60px);
  max-width: 400px;
  overflow-y: auto;
  margin: 0;

  @media screen and (max-width: 480px) {
    width: 95%;
  }
}

.modal-card-head {
  background: $color-2;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-leave-active {
  opacity: 0;
}

:not(.modal).is-active span {
  color: #ffb800 !important;
}

.custom-amount-input {
  .frame3-sub-title {
    font-style: normal;
    font-weight: 500;
    // font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
  }
  input,
  input:focus-visible,
  input:focus-within,
  input:focus {
    border: 1px solid $color-2 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    text-align: right !important;
    outline: none !important;
    color: $input-amount-text-color;
    height: 31px !important;
    font-style: normal;
    font-weight: 500;
    // font-size: 24px;
    line-height: 24px;
  }

  textarea,
  textarea:focus-visible {
    outline: none !important;

    resize: none;
    width: 100%;
    height: 10vh;
  }

  textarea:focus-visible,
  textarea:focus,
  textarea:active {
    border: 1px solid $color-2 !important;
  }

  .custom-textarea {
    background-color: #f8f8f8;
    border-radius: 25px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.custom-card-transactions {
  max-height: calc(70vh - 60px) !important;
}

// Custom form elements
input {
  &.is-custom,
  &.is-custom:focus,
  &.is-custom:hover {
    border: solid $color-2;
    border-radius: 0;
    border-width: 0 0 1px 0;
    outline: none;
    color: $input-amount-text-color;
    -moz-appearance: textfield;

    font-size: 1.25rem;
    &:hover,
    &:focus-visible,
    &:focus-within,
    &:focus {
      box-shadow: 0 4px 2px -2px #dddddd;
    }
  }
}

.hide {
  visibility: hidden;
}

.accounts {
  .account {
    .account-backend {
      opacity: 0.8;
    }

    .account-name {
    }

    .account-bal {
      text-align: right;
    }

    .account-curr {
      padding-left: 0.4em;
    }

    &.custom-card-padding {
      padding-bottom: 1em;
      padding-top: 1.2em;
      padding-left: 1.2em;
      padding-right: 14px;
    }
  }

  .sub-accounts {
    margin-left: 1em;
    @media screen and (min-width: 768px) {
      margin-left: 1.6em;
    }

    .account {
      font-size: 0.5em;
    }
    .account-name {
      @media screen and (min-width: 768px) {
        margin-left: 2em;
      }
    }
  }

  .inactive .account.card {
    opacity: 0.6;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.refreshing {
  animation: rotate 0.6s linear infinite;
}
.custom-heavy-line-separator {
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.vl-overlay {
  z-index: 15;
}
.title-card {
  min-height: 1.55em;
}
div.card div.section-card > h2 {
  border-bottom: 0.05em;
}
