/* // Customizations Here (Optional) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.top-bar {
  background-color: #15b6a7;
  height: 80px;
}

.main {
  background-color: #e4f2f1;
}

.welcome-user {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.x-scroll-disabled::-webkit-scrollbar {
  display: none !important;
}

.x-scroll-disabled {
  scrollbar-width: none !important;
}

// card-anchor

.custom-card {
  border-radius: 16px !important;
}

.custom-card-padding {
  padding-bottom: 2em !important;
  padding-top: 2em !important;
  padding-left: 1.8em !important;
  padding-right: 1.8em !important;
}

.custom-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 1em !important;
}

.custom-card-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 1em !important;
}

.custom-card-content {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
}

.custom-card-content-2 {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.custom-inner-card {
  border-radius: 43px !important;
  background-color: #f0faf9 !important;
}

.custom-button {
  color: #009688 !important;
  border-color: #009688 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 23px !important;
  border-radius: 47px !important;
  padding-right: 2.2em !important;
  padding-left: 2.2em !important;
  background-color: inherit !important;
}

.custom-button-end-card {
  width: 197px !important;
}

.custom-button-send-receive-money {
  background: #009688 !important;
  text-transform: uppercase !important;
  color: #ffffff !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 23px !important;
}

.card-paiement-defaut-carte {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(53, 53, 53, 0.64);
}

// card-anchor-fin

// tabs-anchor

.custom-tabs-switch a {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 47px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: none !important;
  padding-right: 4em !important;
  padding-left: 4em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.custom-tabs-switch a:hover {
  background: #ffffff !important;
  color: #000000 !important;
}

.custom-tabs-switch-div {
  border-radius: 47px !important;
  background: #f1f1f1 !important;
  padding: 1px !important;
}

.custom-is-active {
  background: #ffffff !important;
  border-radius: 47px !important;
  border-color: #f1f1f1 !important;
  border-style: solid;
  border-width: 1px;
  color: #000000 !important;
}

.custom-is-active a {
  color: #000000 !important;
}

// tabs-anchor-fin

// pictogram-anchor

.custom-pictogram {
  height: 20.19px;
  width: 19.41px;
  background: #bebebe;
  border-radius: 50px;
}

.custom-pictogram svg {
  color: white;
  width: 12.6px;
  height: 12.6px;
}

// pictogram-anchor-fin

// card-opération-anchor

.custom-card-destinataire {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.custom-card-intitule {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #353535;
}

// card-opération-anchor-fin

// action-footer-anchor

.action-footer {
  position: sticky !important;
  bottom: 20px !important;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25) !important;
}

// action-footer-anchor-fin

// modal-frame-1-anchor

.modal {
  background-color: #000000 !important;
  width: 200px !important;
  height: 200px !important;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: fixed;
  top: 10%;
  width: 70%;
  height: 80%;
}

.modal-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.modal-body {
  height: 100% !important;
  width: 100% !important;
}

.modal-body-frame-send-money {
  margin: 20px 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-default-button {
  display: block;
  margin-top: 1rem;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.custom-header-send-money {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #15b6a7;
  border-radius: 16px 16px 0px 0px;
}

.custom-width-send-money {
  width: 33%;
}

.cross-shape {
  width: 14px;
  height: 14px;
}

.custom-warning {
  width: 85% !important;
  border: 1px solid #ff4081;
  border-radius: 16px;
}

.custom-button-warning {
  color: #ff4081;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.custom-search-bar {
  width: 89%;
}

.custom-search-bar input {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  width: 100% !important;
}

.custom-pictogram-search svg {
  width: 24px !important;
  height: 24px !important;
}

.custom-pictogram-search path,
rect {
  fill: #009688 !important;
  background: #009688 !important;
}

.custom-button-pictogram {
  background-color: inherit !important;
  border: none;
  cursor: pointer;
}

// tabs-anchor-début

.tabs {
  width: 100% !important;
}

$tabs-border-bottom-color: white;

$tabs-border-bottom-width: 4px;

$tabs-link-hover-border-bottom-color: #009688;

$tabs-link-active-color: rgba(0, 0, 0, 0.8);

$tabs-link-active-border-bottom-color: #009688;

$tabs-link-color: rgba(0, 0, 0, 0.6);

.tabs a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  justify-content: space-evenly;
  &:hover > p {
    color: rgba(0, 0, 0, 0.8) !important;
  }
  &:hover > span {
    color: #ffb800 !important;
  }
}

.is-active span {
  color: #ffb800 !important;
}

// tabs anchor fin

.custom-heavy-line-separator {
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
}

.custom-line-separator {
  display: flex;
  justify-content: flex-end;
  height: 2px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-width-send-money {
  width: 80% !important;
}

.custom-user-select {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 24px;

  h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.frame3-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.4);
}
.custom-montant-input {
  width: 89%;

  .frame3-sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
  }

  input,
  input:focus-visible,
  input:focus-within,
  input:focus {
    border: 1px solid #009688 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    text-align: right !important;
    outline: none !important;
    color: #009688;
    text-shadow: 0px 0px 0px black;
    -webkit-text-fill-color: transparent;
    height: 31px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  textarea,
  textarea:focus-visible {
    outline: none !important;
    border: none !important;
    resize: vertical;
    max-height: 30px !important;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// début modal sécurité

.pinBox {
  overflow: hidden;
  position: relative;
  width: 80% !important;
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    height: 24px;
    position: absolute;
    // width: 87px;
    border: 1px solid #009688;
    background: linear-gradient(
        to right,
        transparent 0%,
        transparent 18px,
        #ccc 18px,
        #ccc 19px,
        #fff 20px,
        #fff 39px
      )
      repeat-x;
    background-size: 24px 25px;
  }
}
.pinEntry {
  // padding: 4px 5px;
  border: none;
  outline: none;
  width: 100% !important;
  letter-spacing: 1em;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 28px;
  text-align: center;
}

#pincode {
  padding: 0 !important;
}

.custom-pin-width {
  width: 60% !important;
}

/* // Bulma Import */
@import "~bulma";
