/* // Customizations Here (Optional) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.top-bar {
  background-color: #15b6a7;
  height: 80px;
}

.main {
  background-color: #e4f2f1;
}

.welcome-user {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.x-scroll-disabled::-webkit-scrollbar {
  display: none !important;
}

.x-scroll-disabled {
  scrollbar-width: none !important;
}

// card-anchor

.custom-card {
  border-radius: 16px !important;
}

.custom-card-padding {
  padding-bottom: 2em !important;
  padding-top: 2em !important;
  padding-left: 1.8em !important;
  padding-right: 1.8em !important;
}

.custom-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 1em !important;
}

.custom-card-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 1em !important;
}

.custom-card-content {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
}

.custom-card-content-2 {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.custom-inner-card {
  border-radius: 43px !important;
  background-color: #f0faf9 !important;
}

.custom-button {
  color: #009688 !important;
  border-color: #009688 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 23px !important;
  border-radius: 47px !important;
  padding-right: 2.2em !important;
  padding-left: 2.2em !important;
  background-color: inherit !important;
}

.custom-button-end-card {
  width: 197px !important;
}

.custom-button-send-receive-money {
  background: #009688 !important;
  text-transform: uppercase !important;
  width: 337px !important;
  color: #ffffff !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 23px !important;
}

.card-paiement-defaut-carte {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(53, 53, 53, 0.64);
}

// card-anchor-fin

// tabs-anchor

.custom-tabs-switch a {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 47px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: none !important;
  padding-right: 4em !important;
  padding-left: 4em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.custom-tabs-switch a:hover {
  background: #ffffff !important;
  color: #000000 !important;
}

.custom-tabs-switch-div {
  border-radius: 47px !important;
  background: #f1f1f1 !important;
  padding: 1px !important;
}

.custom-is-active {
  background: #ffffff !important;
  border-radius: 47px !important;
  border-color: #f1f1f1 !important;
  border-style: solid;
  border-width: 1px;
  color: #000000 !important;
}

.custom-is-active a {
  color: #000000 !important;
}

// tabs-anchor-fin

// pictogram-anchor

.custom-pictogram {
  height: 20.19px;
  width: 19.41px;
  background: #bebebe;
  border-radius: 50px;
}

.custom-pictogram svg {
  color: white;
  width: 12.6px;
  height: 12.6px;
}

// pictogram-anchor-fin

// card-opération-anchor

.custom-card-destinataire {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.custom-card-intitule {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #353535;
}

// card-opération-anchor-fin

// action-footer-anchor

.action-footer {
  position: sticky !important;
  bottom: 20px !important;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25) !important;
}

// action-footer-anchor-fin

// modal-frame-1-anchor

.modal {
  background-color: #000000 !important;
  width: 200px !important;
  height: 200px !important;
}

/* // Bulma Import */
@import "~bulma";
