@import "./safe-area";

@media screen {
  body,
  .navbar,
  #iframe,
  .c-toast-container {
    padding-top: #{$sa-top};
    padding-right: #{$sa-right};
    padding-left: #{$sa-left};
  }
  .modal-card {
    top: calc(#{$sa-top} + 60px);
  }
}
