@import "~sweetalert2/src/variables";
// Monujo variables
$button-border-radius: 47px;
$input-border-radius: 4px;

// Sweetalert2 customizations

// Buttons
$swal2-confirm-button-background-color: #009688;
$swal2-deny-button-background-color: #960f29;
$swal2-confirm-button-border-radius: $button-border-radius;
$swal2-deny-button-border-radius: $button-border-radius;
$swal2-cancel-button-border-radius: $button-border-radius;
// Inputs
$swal2-input-border-radius: $input-border-radius;
$swal2-input-box-shadow: rgba(10, 10, 10, 0.05) 0px 0.0625em 0.125em inset;
// Inputs:focus
$swal2-input-focus-border: 1px solid #485fc7;
$swal2-input-focus-outline: none;
$swal2-input-focus-box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);

@import "~sweetalert2/src/sweetalert2";

.swal2-input:hover,
.swal2-file:hover,
.swal2-textarea:hover {
  border-color: #b5b5b5;

  &:focus {
    border: $swal2-input-focus-border;
    outline: $swal2-input-focus-outline;
    box-shadow: $swal2-input-focus-box-shadow;
  }
}
